.text-midblack {color: rgba(29, 36, 52, 1) !important;}
.text-dim-gray{color: rgba(29, 36, 52, 0.52) !important;}
.text-sonic-silver{color: #757575 !important;}

.rounded-buttom-20{ border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; border-top-left-radius: 0; border-top-right-radius: 0;}
.v-center{align-items: center;}
a .text p.text-midblack:hover{color: rgba(125, 32, 255, 1) !important;position: relative;}
a .text p.text-midblack:hover::after { content: '';  display: inline-block; margin-left: 8px; position: absolute; top: 2px; background: url('data:image/svg+xml,%3Csvg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M3.16406 10H14.8307" stroke="%23285FF5" stroke-width="1.66667" stroke-linecap="square" stroke-linejoin="round"/%3E%3Cpath d="M10 4.16699L15.8333 10.0003L10 15.8337" stroke="%23285FF5" stroke-width="1.66667" stroke-linecap="square" stroke-linejoin="round"/%3E%3C/svg%3E') no-repeat center center; width: 20px; height: 20px; background-size: cover;}
a{text-decoration: none !important;}
.header .menu > ul{list-style: none;margin:0;padding:0;}
/* header */
.header{display: block;width: 100%;z-index: 99;padding:15px;}
.header .item-left{flex:0 0 17%;}
.header .logo a{font-size: 30px;color:#000000;font-weight: 700;text-decoration: none;}
.header .item-center{flex:0 0 60%;}
.header .item-right{flex:0 0 23%;display: flex;justify-content: flex-end;}
.header .item-right a{  text-decoration: none; font-size: 16px; color:#555555; display: inline-block; margin-left: 10px; transition: color 0.3s ease; }
.header .menu > ul > li{display: inline-block;line-height: 50px;}
.header .menu > ul > li > a:hover::before{content: '';position: absolute;border-bottom: solid 3px #7D20FF;width: 100%;bottom: 0;}
.header .menu > ul > li > a{font-size: 16px;font-weight: 500;color:#000000;position: relative;text-transform: capitalize; padding: 6px 0 !important;margin: 0 10px; transition: all 0.5s ease-in-out;}
.header .menu > ul > li .sub-menu{ position: absolute; z-index: 500; background-color:#ffffff; /* box-shadow: -2px 2px 70px -25px rgba(0,0,0,0.3);  */ transition: all 0.5s ease; border-radius: 0px 0px 20px 20px; margin-top:25px; opacity:0; visibility: hidden;}
.dropdown-toggle::after { display: inline-block !important; margin-left: .255em !important; content: ""; background: url('data:image/svg+xml,<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.1494 4.89768L6.39941 8.64768C6.34716 8.70012 6.28506 8.74173 6.21669 8.77012C6.14831 8.79851 6.07501 8.81313 6.00098 8.81313C5.92694 8.81313 5.85364 8.79851 5.78526 8.77012C5.71689 8.74173 5.6548 8.70012 5.60254 8.64768L1.85254 4.89768C1.74687 4.79201 1.6875 4.64869 1.6875 4.49925C1.6875 4.3498 1.74687 4.20648 1.85254 4.10081C1.95821 3.99514 2.10153 3.93577 2.25098 3.93577C2.40042 3.93577 2.54374 3.99514 2.64941 4.10081L6.00144 7.45284L9.35348 4.10034C9.45915 3.99467 9.60247 3.9353 9.75191 3.9353C9.90136 3.9353 10.0447 3.99467 10.1504 4.10034C10.256 4.20601 10.3154 4.34934 10.3154 4.49878C10.3154 4.64822 10.256 4.79154 10.1504 4.89722L10.1494 4.89768Z" fill="%231D2434"/></svg>'); background-repeat: no-repeat; width: 12px; height: 12px; color: #fff; position: relative; top: 2px !important; vertical-align: 0 !important; border-top: 0 !important; border-right: 0 !important; border-bottom: 0 !important; border-left: 0 !important;}
.dropdown-toggle:hover::after{transform: rotate(-180deg) !important;}
.base-menu{padding: 16px 33px 43px 33px;} .view-desktop{display: block;} .view-mob{display: none !important;} .w-20{width: 20% !important;} .w-40{width: 40% !important;}
.menubottombtns{ position: absolute;bottom: 0;padding: 20px;}
.header .menu > ul > li .sub-menu > ul > li{line-height: 1;}
.header .menu > ul > li .sub-menu > ul > li > a{display: inline-block;padding: 10px 0;font-size: 15px;color: #555555;transition: color 0.3s ease;text-decoration: none;text-transform: capitalize;}
.header .menu > ul > li .single-column-menu{min-width: 280px;max-width: 350px;}
.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li{line-height: 1; display: block; }
.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a {padding:10px 0;display: inline-block;font-size: 15px;color:#555555;transition: color 0.3s ease;}
.header .menu > ul > li .sub-menu.mega-menu{  left: 50%; transform: translateX(-50%);}
.header .menu > ul > li .sub-menu.mega-menu-column-4{width: 100%; 	display: flex;flex-wrap: wrap;padding:20px 15px;justify-content: center;}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item{flex:0 0 25%;padding:0 15px;}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item .title{font-size: 16px;color:#ea4636;font-weight: 500;line-height: 1;padding:10px 0;}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item.text-center .title{text-align: center;}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item img{max-width: 100%;width: 100%;vertical-align: middle;margin-top: 10px;height: 300px;object-fit: cover;}
.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a:hover,
.header .menu > ul > li .sub-menu > ul > li > a:hover,
.header .item-right a:hover,
.header .menu > ul > li:hover > a{color:#ea4636;}
/* banner section */
.banner-section{ background-image: url('../img/banner.jpg'); background-size: cover; background-position: center; height: 700px; width: 100%; display: block;}
.mobile-menu-head,
.mobile-menu-trigger{display: none;}
.tophead{display: flex; justify-content: space-between; align-items: center;}
.exp-right-hire{background: linear-gradient(90.39deg, rgba(211, 239, 255, 0.6) 32.37%, rgba(141, 195, 255, 0.6) 99.86%), #FFFFFF; border-radius: 8px;padding: 10px 160px; text-align: center;    position: absolute; bottom: 15px;}
.exp-right-hire a.clickto{ border: 1px solid #0152FF; border-radius: 50px; padding: 4px 12px; margin-left: 20px;text-decoration: none !important;}

/*responsive*/
@media (min-width: 992px){
.header .menu > ul > li.menu-item-has-children:hover .sub-menu{margin-top: 0;visibility: visible;opacity: 1;}
}

@media (max-width: 991px){
.exp-right-hire, .view-desktop{display: none !important;} .view-mob{display: block !important;}
.ctaHeader{margin-right: 10px !important;}
.tophead{position: relative; z-index: 99;padding: 8px 16px 10px;}
.header .item-left,
.header .item-right{flex:0 0 auto;	}
.v-center{justify-content: space-between;}
.header .mobile-menu-trigger{display: flex;height: 30px;width: 30px;margin-right: 15px;cursor: pointer;align-items: center;justify-content: center;	}
.header .mobile-menu-trigger span{display: block;height: 2px;background-color: #333333;width: 24px;position: relative;	}
.header .mobile-menu-trigger span:before,
.header .mobile-menu-trigger span:after{content: '';position: absolute;left:0;width: 100%;height: 100%;background-color: #333333;	}
.header .mobile-menu-trigger span:before{top:-6px;	}
.header .mobile-menu-trigger span:after{top:6px;	}
.header .item-right{align-items: center; position: absolute; right: 0; top: 16px;}
.header .menu{position: fixed; width: 100%; background-color:#ffffff; left:0; top:0; /* height: 100%; */ overflow: hidden; transform: translateY(-100%); transition: all 0.5s ease; z-index: 1099;}
.header .menu.active{ transform: translateY(0%); top: 58px;}
.header .menu > ul > li{ line-height: 1; margin:0; display: block;}
.header .menu > ul > li > a{ line-height: 50px; height: 50px; padding:0 50px 0 15px; display: block; border-bottom: 1px solid rgba(0,0,0,0.1);}
.header .menu > ul > li > a i{ position: absolute; height: 50px; width: 50px; top:0; right: 0; text-align: center; line-height: 50px; transform: rotate(-90deg);}
.header .menu .mobile-menu-head{ /* display: flex; height: 50px; border-bottom: 1px solid rgba(0,0,0,0.1); justify-content: space-between; align-items: center; */ z-index: 501; /* position: sticky; */ /* background-color: #ffffff; */ top:0; display: block; position: absolute; right: 0;}
.header .menu .mobile-menu-head .go-back{ height: 50px; width: 50px; border-right: 1px solid rgba(0,0,0,0.1); cursor: pointer; line-height: 50px; text-align: center; color:#000000; font-size: 16px; position: absolute; right: 0; top: 0; z-index: 9; display: none; }
.header .menu .mobile-menu-head.active .go-back{ display: block;}
.skill-subtitle{font-family: 'Gabarito'; font-weight: 500 !important; font-size: 16px !important; line-height: 20px !important; color: #1D2434 !important;}
.skills-menu{ padding: 10px 0; } .skills-menu a{text-decoration: none !important;}
.header .menu .mobile-menu-head .current-menu-title{ font-size: 15px; font-weight: 500; color:#000000;}
.header .menu .mobile-menu-head .mobile-menu-close{ height: 50px; width: 50px; border-left: 1px solid rgba(0,0,0,0.1); cursor: pointer; line-height: 50px; text-align: center; color:#000000; font-size: 25px; position: absolute;right: 0;top: 0;}
.header .menu .menu-main{height: 100%;min-height: calc(100vh - 50px)!important;overflow-x: hidden;overflow-y: auto;}
.header .menu > ul > li > a.header_schedule_outline{padding: 11px 0px !important;position: relative; white-space: nowrap; text-align: center; border: 1px solid #084BFF !important;background: #FFFFFF !important;color: #084BFF !important;border-radius: 50px;font-size: 16px;line-height: 20px;height: 42px !important;font-weight: 500;}
.header .menu > ul > li > a.header_schedule{padding: 11px 0px !important;position: relative; white-space: nowrap;background: #084BFF;color:#fff !important; text-align: center; border-radius: 50px;height: 42px !important;font-size: 16px;line-height: 20px;font-weight: 500;}
.dropdown-toggle::after {display: inline-block;content: "";rotate: 270deg;position: absolute;right: 0 !important;top: 25px !important;}
.header .menu > ul > li .sub-menu.mega-menu,
.header .menu > ul > li .sub-menu{visibility: visible;opacity: 1;position: absolute;box-shadow: none;margin:0;padding:15px;top:0;left:0;width: 100%;height: 100%;/* padding-top: 65px; */max-width: none;min-width: auto;display: none;transform: translateX(0%);overflow-y: auto;}
.header .menu > ul > li .sub-menu.active{display: block;width: 100% !important;}
@keyframes slideDown{
	0%{ opacity:0; transform: translateX(-100%);}
	100%{ opacity:1; transform: translateX(0%);}
}
@keyframes slideUp{
	0%{ opacity:1; transform: translateX(0%);}
	100%{ opacity:0; transform: translateX(-100%);}
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item img{margin-top:0;}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item.text-center .title{margin-bottom: 20px;}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item.text-center:last-child .title{margin-bottom:0px;}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item{flex: 0 0 100%;padding: 0px;}
.header .menu > ul > li .sub-menu > ul > li > a,
.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a{display: block;}
.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul {margin-bottom: 15px;}
.menu-overlay{position: fixed;background-color:transparent;left:0;top:0;width: 100%;height: 100%;z-index: -1;visibility: hidden;opacity:0;transition: all 0.5s ease;}
.menu-overlay.active{visibility: visible;opacity:1;}
.mobborder {border-right: transparent !important;}
.skillscroll .skills-menu { width: 50% !important;}
.skillscroll { height: 300px;overflow-y: scroll;}
.menuScroll {overflow-y: scroll;}
.menuScroll::-webkit-scrollbar,
.skillscroll::-webkit-scrollbar {border-radius: 10px;width: 4px;}
.menuScroll::-webkit-scrollbar-track,
.skillscroll::-webkit-scrollbar-track { background-color: #f5f5f5}
.menuScroll::-webkit-scrollbar-thumb,
.skillscroll::-webkit-scrollbar-thumb {border-radius: 10px; background-color: #084BFF;}
.modelstab{padding: 10px 0 !important;}
.menuSchedulebtn{display: grid !important;grid-template-columns: 1fr 1fr; position: absolute;	bottom: 90px;width: 100%;}
.hiring-tab .mega-menu{padding: 28px 0 50px 0 !important; border-top: 2px dashed rgb(0 0 0 / 16%) !important; margin-left: 0 !important;}
.hiring-tab {padding-bottom: 70px !important;}
}
@media (max-width: 767px){
.menuScroll {overflow-y: scroll;}
a .text p.text-midblack:hover::after{display: none;}
.menuScroll::-webkit-scrollbar,
.skillscroll::-webkit-scrollbar {border-radius: 10px;width: 4px;}
.menuScroll::-webkit-scrollbar-track,
.skillscroll::-webkit-scrollbar-track { background-color: #f5f5f5}
.menuScroll::-webkit-scrollbar-thumb,
.skillscroll::-webkit-scrollbar-thumb {border-radius: 10px; background-color: #084BFF;}
.skillscroll .skills-menu { width: 100% !important;}
}