.digital-card {
    
    color: black;
    padding: 20px 30px;
    border-radius: 12px;
    max-width: 600px;
    margin-left: 100px;
    font-family: 'Arial', sans-serif;
    text-align: left;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 50px;
  }
  
  .digital-card h1 {
    font-size: 28px;
    font-weight: bolder;
    margin-bottom: 15px;
  }
  
  .digital-card p {
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 20px;
  }
  
  .know-more-btn {
    background: transparent;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .know-more-btn:hover {
    background-color: white;
    color: #440000;
  }
  