body{
  background-color: white;
  color: black;
}
.titles{
  font-size: 20px;
}
.carousel-container {
  width: auto;
  height: auto;
  margin: 60px;
  margin-left: 100px;
  text-align: center;
  font-family: Arial, sans-serif;
}
.despcriptions{
  font-size: 16px;
}
.hi {
  margin-left: 20px;
}

.card {
  background: #ffffff75;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-right: 40px;
  gap: 2;
  height: 450px;
}
.Btns{
    border-radius: 10px;
    padding: 10px;
    font-weight: bolder;
    
}
.Btns:hover{
    background-color: red;
color: white;
}

.card-image {
  width: 80%;
  height: 180px;
  margin-left: 40px;
  border-radius: 20px;
}

.card-content {
  padding: 20px;
}

.card-content h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.card-content p {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 15px;
}

.card-button {
  padding: 10px 20px;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.card-button:hover {
  background: #333;
}
