body {
  margin: 0;
  font-family: Arial, sans-serif;

}

/* Swiper container */
.swiper-container {
  margin-top: 20px;
  width: 100%;
  height: 620px;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Navigation buttons */
.swiper-button-prev,
.swiper-button-next {
  color: #fff;
}

/* Scroll Button */
.scroll-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 1rem;
  background: #000;
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
  margin-top: -5px;
  transition: background 0.3s ease;
}

.scroll-button:hover {
  background: #333;
}

/* Next Section */
.next-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f4f4f4;
  padding: 2rem;
  text-align: center;
}

.next-section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.next-section p {
  font-size: 1rem;
  line-height: 1.5;
  color: #666;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .swiper-container {
    height: 300px;
  }

  .scroll-button {
    font-size: 1rem;
    padding: 0.8rem;
  }

  .next-section h2 {
    font-size: 1.5rem;
  }

  .next-section p {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .swiper-container {
    height: 250px;
  }

  .scroll-button {
    font-size: 0.9rem;
    padding: 0.5rem;
  }

  .next-section h2 {
    font-size: 1.2rem;
  }

  .next-section p {
    font-size: 0.8rem;
  }
}
